@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import "./common.css";
@import "./header.css";
@import "./main.css";
@import "./footer.css";

:root {
  --primary-color: #000;
  --secondary-color: #9e9ea7;
  --alternative-color: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(93, 93, 148, 1) 40%,
    rgba(205, 236, 242, 1) 90%
  );
}